@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
  
    body {
      font-family: "Inter", sans-serif;
      // background-color: #fffbfb;
      // background-image: linear-gradient(to bottom right, #a18cd1, #fbc2eb);
      // background-image: radial-gradient(circle, rgba(242,171,202,1) 0%, rgba(245,229,250,1) 51%);
    }
    td {
      vertical-align: middle;
      padding: 15px 30px;
      max-width: 400px;
      overflow: hidden;
    }
    tr:nth-child(even){
      background-color: #fdecec;
    }
    th {
      text-align: left;
      padding: 20px 30px;
      max-width: 600px;
    }
}
.text-td {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.datePickerWrapper p {
  margin: 0;
  padding-left: 5px;
  color: #1e8489;
}

.date_picker_wrapper {
  /* margin-left: 0; */
  width: 190px;
  border: 1px solid #dddee6;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}

.date_picker_wrapper input:hover,
.date_picker_wrapper:hover {
  background-color: #dae0e6;
}

.date_picker_wrapper span {
  /* border: 1px solid black; */
  /* display: inline; */
  margin-right: 5px;
  margin-top: 2px;
}

.date_picker_wrapper input {
  /* border: 1px solid black; */
  width: 150px;
  padding: 10px 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  /* border-radius: 3px; */
}
.rasengan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  perspective: 1000px;
  background-image: radial-gradient(#fff 5%, #2994f2 40%);
  border-radius: 50%;
  animation: twinkling 1.5s infinite linear;
}
.rasengan .line {


  position: absolute;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  box-shadow: 0 0 2px #fff;
}

@for $i from 1 through 100 {
  .line#{$i} {
    $size: random(85) + 3 + px;
    top: $size;
    left: $size;
    bottom: $size;
    right: $size ;
    animation: rotating $i * .03s infinite linear;
  }
    
}

@keyframes rotating {


  0% {

    transform: rotateY(0)
  }
  100% {

    transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg)
  }
}

@keyframes twinkling {


  0%, 100% {

    box-shadow: 0 0 3px 0px #fff, 0 0 30px 15px #2994f2
  }
  20% {

    box-shadow: 0 0 3px 1px #fff, 0 0 30px 10px #2994f2
  }
  40% {

    box-shadow: 0 0 5px 0px #fff, 0 0 20px 15px #2994f2
  }
  60% {

    box-shadow: 0 0 3px 1px #fff, 0 0 30px 15px #2994f2
  }
  80% {

    box-shadow: 0 0 5px 0px #fff, 0 0 25px 10px #2994f2,
  }
}