@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
  
    body {
      font-family: "Inter", sans-serif;
      background-color: #FFEAEE;
    }
    td {
      vertical-align: middle;
      padding: 15px 30px;
      max-width: 400px;
      overflow: hidden;
    }
    tr:nth-child(even){
      background-color: #eff6ff;
    }
    th {
      text-align: left;
      padding: 20px 30px;
      max-width: 600px;
    }
}
.text-td {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}